<% layout('layouts/boilerplate')%>



<div class="vetting-body">
  <header id="vettingJumbotron">

    <h1 id="vetting-title" style="margin-top: -20px;">Open Q Smart Problems</h1>


  </header>


  <table class="table table-hover table-dark" style="font-size: 15px; height: 700px;">
    <thead>
      <tr class="d-flex">

        <th style="width: 140px;">Date</th>
        <th style="width: 150px;">Time</th>
        <th style="width: 150px;">Raised By</th>
        <th style="width: 150px;">Area</th>
        <th style="width: 200px;">Serial Number/Asset</th>
        <th style="width: 200px;">TL</th>
        <th style="width: 75px;">Status</th>
        <th style="width: 330px;">Issue</th>
        <th style="width: 480px;">Comments</th>
      </tr>
    </thead>
    <tbody>
      <% trackers.forEach(tracker => {%>
      <tr class="d-flex">
        <td style="height: 70px; width: 140px;"><a href="/tracker/edit/<%=tracker._id%>"><%= moment(tracker.createdAt).format("DD/MM/YYYY") %></a></td>
        <td style="width: 150px;"><%= moment(tracker.createdAt).format("HH:mm") %></td>
        <td style="width: 150px;"><%= tracker.submittedBy %></td>
        <td style="width: 150px;"><%= tracker.area %></td>
        <td style="width: 200px;"><%= tracker.serialNumber %></td>
        <td style="width: 200px;"><%= tracker.teamLeader %></td>
        <% if (tracker.rating === "Red") { %>
        <td style="width: 75px; background-color: red;"></td>
        <% } %>
        <% if (tracker.rating === "Amber") { %>
        <td style="width: 75px; background-color: orange;"></td>
        <% } %>
        <% if (tracker.rating === "Green") { %>
        <td style="width: 75px; background-color: green;"></td>
        <% } %>
        <td style="width: 330px;"><%= tracker.issue %></td>
        <td style="width: 480px;"><%= tracker.comments %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>