<% layout('layouts/boilerplate')%>

<style>
  .update-history {
    border: 1px solid rgb(221, 214, 214);
    padding-top: 5px;
    background-color: white;
    color: black;
    border-radius: 5px;
    height: 465px;
    list-style-type: none;
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    overflow-y: auto;
    /* Add vertical scrollbar */
  }
</style>

<!--  download 1 & 0 Modal -->
<div class="modal fade" id="add_fault" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-md">
    <div class="modal-content">

      <div style="background-color: rgb(252, 176, 38); height: 50px;">
        <button style="color: black; margin: 5px;" class="close" aria-label="Close"></button>
        <h3 style="text-align: center; margin: 8px;">Add Fault</h3>
      </div>
      <div class="modal-body">
        <fieldset>
          <form id='theForm' action="/throughput/addNewfaulttoLoadallArr/<%= throughput._id %>" method="POST">
            <div class="row" style="color:black;">
              <div class="col">
                <label for="notes">Fault Detail</label>
                <textarea style="height:190px; margin-bottom: 25px;" class="form-control" name="fault"></textarea>
              </div>
              <div class="col">
                <label for="area">fault Area</label>
                <select class="form-control" type="text" name="faultArea" autocomplete="off" required>
                  <option hidden></option>
                  <option>Assembly Track 1 - Zone 1- 5</option>
                  <option>Assembly Track 1 - Zone 6 - 7</option>
                  <option>Assembly Track 3 - Zone 1 - 3</option>
                  <option>Obay Rec / S/out</option>
                  <option>Sub Assembly</option>
                  <option>Booms Roto</option>
                  <option>Shot & Paint</option>
                  <option>Manufacturing Chassis</option>
                  <option>Manufacturing Inners</option>
                  <option>Manufacturing Outers</option>
                  <option>Materials Kitting</option>
                  <option>Supplier Quality</option>
                  <option>Finishing</option>
                  <option>Cabs</option>
                  <option>Shortages</option>
                  <option>Cabs Shortages</option>
                </select>
                <label for="area">Major</label>
                <select class="form-control" type="text" name="major" autocomplete="off" required>
                  <option hidden></option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
                <div style="margin-top: 40px;">
                  <button type="button" id="modalClose" data-dismiss="modal" class="btn btn-danger float-right" style=" margin-left: 8px; margin-right: 25px; color: white; border-radius: 4px;">Cancel</button>
                  <button id="btnSave" class="btn btn-success float-right" type='submit' style=" margin-bottom: 10px; color: white; border-radius: 4px;">Confirm</button>
                </div>

              </div>
            </div>
          </form>
        </fieldset>
      </div>
      <div style="background-color: rgb(252, 176, 38); display: flex; align-items: center; height: 50px; display: flex; ">
        <img style="margin: 5px;" height="24px" src="/7z/content/images/jcb-logo.png"> <img height="24px" src="/7z/content/images/df.png">
      </div>

    </div>
  </div>
</div>

<div id="newred-container" style="color: white;">


  <div class="row form-background">

    <div class="col-md-12 text-center">
      <h1>Add Fault Detail</h1>
    </div>
    <a type="button" class="btn" style="position: absolute; right: 0; margin-right: 520px; font-size: 40px; color: white;" data-toggle="modal" data-target="#add_fault"><i class="fas fa-plus"></i></a>

    <div class="col">
      <form action="/throughput/newredLdl/<%= division %>" method="POST">

        <input type="hidden" name="throughput[division]" value="<%= division %>">
        <label for="buildNumber">Full Build Number</label>
        <input class="form-control" type="text" value="<%= throughput.buildNumber %>" disabled>

        <label for="buildNumber">Model</label>
        <input class="form-control" type="text" value="<%= throughput.model %>" disabled>

        <label for="buildNumber">Inspector</label>
        <input class="form-control" type="text" value="<%= throughput.inspector %>" disabled>

        <label for="buildNumber">Building</label>
        <input class="form-control" type="text" value="<%= throughput.building %>" disabled>

        <label for="buildNumber">T Card Fails</label>
        <input class="form-control" type="text" value="<%= throughput.tCard %>" disabled>

        <label for="buildNumber">Functional Faults</label>
        <input class="form-control" type="text" value="<%= throughput.functional %>" disabled>


        <label for="area">Cosmetic Faults</label>
        <input class="form-control" type="text" value="<%= throughput.cosmetic %>" disabled>

        <label for="area">Open faults Into Building</label>
        <input class="form-control" type="text" value="<%= throughput.openFaults %>" disabled>


    </div>
    <!-- new col -->



    <!-- new col -->
    <div class="col">

      <label for="exampleTextarea">Faults </label>


      <div class="form-group update-history">
        <ol>
          <% for (let fault of throughput.cfcFaults) { %>
          <li><%= fault.fault %><br> Fault Area - <%=  fault.faultArea %> <br> Major - <%=  fault.major %></li>
          <hr style="width: 95%; margin-left: -10px;"">
					<% } %>
				</ol>
			</div>

				<div class=" form-group text-center">
          <a href="/throughput/all/<%= division %>"" class=" btn btn-lg btn-success btn-block ">Submit</a>
				</div>
		</div>
					
					
			</form>
		</div>

		
		

			


        


        