<% layout('layouts/boilerplate')%>

<div id="newbuild-container">


  <div class="row form-background">

    <div class="col-md-12 text-center">
      <h1 style="color: white;">Edit Date</h1>
    </div>

    <div class="col">
      <form action="/day/edit/<%= day._id %>" method="POST">
        <input type="hidden" name="day[division]" value="<%= division %>">
        <label for="buildNumber">Build</label>
        <input class="form-control" type="text" name="day[build]" value="<%= day.build %>" required>
        <label for="buildNumber">Faults</label>
        <input class="form-control" type="text" name="day[faults]" value="<%= day.faults %>" required>
        <label for="buildNumber">DPU Target</label>
        <input class="form-control" type="text" name="day[target]" value="<%= day.target %>" required>
        <div class="form-group text-center">
          <button class="btn btn-md btn-success" style="margin: 5px;">Save</button>
        </div>
      </form>
    </div>
  </div>

  <div>
    <a href="/day/all/<%= division %>">Go Back</a>
  </div>