<% layout('layouts/boilerplate')%>



<% let numb = 0 %>
<% reallocations.forEach(reallocation => {%>
<% if ( moment(reallocation.actionedAt).isSame(moment(), 'day')) { %>
<% numb = numb +1 %>
<% }; %>
<% }) %>

<div class="vetting-body">
  <header id="vettingJumbotron">

    <h1 id="vetting-title" style="margin-top: -20px;"><i class="fas fa-tasks"></i> <%= numb %> Processed Today</h1>

    <!--  -->
  </header>
  <form class="form-inline float-right" style="margin-left: 5px;" action="/reallocation/download/<%= division %>" method="GET">
    <div class="form-group">
      <label for="search"></label>
      <button class="btn btn-md btn btn-info" style="margin-left: 5px;"><i class="fas fa-download"></i></i> Download All Reallocations File</button>
    </div>

  </form>




  <table class="table table-hover table-dark" style="font-size: 15px;">
    <thead>
      <tr class="d-flex">
        <th style="width: 140px;">Build Number</th>
        <th style="width: 150px;">Sip Inspector</th>
        <th style="width: 150px;">Area From</th>
        <th style="width: 150px;">Area To</th>
        <th style="width: 150px;">Requested By</th>
        <th style="width: 100px;">Actioned</th>
        <th style="width: 150px;">Processed By</th>
        <th style="width: 200px;">Comments</th>
        <th style="width: 300px;">Fault</th>
        <th style="width: 425px;">Reason</th>
      </tr>
    </thead>
    <tbody>
      <% reallocations.forEach(reallocation => {%>
      <tr class="d-flex">
        <% if (currentUser && currentUser.isVetter)   { %>
        <td style="height: 90px; width: 140px;"><a href="/reallocation/<%= reallocation._id %>"><%= reallocation.buildNumber.toUpperCase() %></a></td>
        <% } else { %>
        <td style="height: 90px; width: 140px;"><%= reallocation.buildNumber.toUpperCase() %></a></td>
        <% } %>
        <td style="width: 150px;"> <%= reallocation.sipInspector %></td>
        <td style="width: 150px;"> <%= reallocation.areaFrom %></td>
        <td style="width: 150px;"> <%= reallocation.areaTo %></td>
        <td style="width: 150px;"> <em><%= reallocation.submittedBy %> <br> <%= moment(reallocation.createdAt).format("DD/MM/YYYY - HH:mm") %> </em></td>
        <% if (reallocation.actioned != null)   { %>
        <td style="width: 100px;"> <%= reallocation.actioned %></td>
        <td style="width: 150px;"> <em><%= reallocation.actionedBy %> <br> <%= moment(reallocation.actionedAt).format("DD/MM/YYYY - HH:mm") %></em></td>
        <% } %>
        <td style="width: 200px;"> <%= reallocation.notes %></td>
        <td style="width: 300px;"><%= reallocation.fault.substring(0, 100) %></td>
        <td style="width: 425px;"> <%= reallocation.reason.substring(0, 150) %></td>

      </tr>

      <% }) %>
    </tbody>
  </table>