<!-- <?php // require_once('sql/select-overview.php'); ?> -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <meta http-equiv="refresh" content="620"> -->
  <title>JCB - Quality Uptime</title>
  <link rel="icon" href="/home/jcb.png" />
  <link rel="stylesheet" href="/content/bootstrap/css/bootstrap.css" type="text/css">
  <!-- <link rel="stylesheet" href="/7z/content/bootswatch/united.css" type="text/css"> -->
  <link rel="stylesheet" href="/content/dashboards.css" type="text/css">
  <link rel="stylesheet" href="/content/table.css" type="text/css">
  <link rel="stylesheet" href="/7z/content/font-awesome/css/all.css" type="text/css">
  <link rel="stylesheet" href="/7z/content/chart-js/chart.min.css" type="text/css">
  <script src="/7z/content/jquery/jquery-3.3.1.min.js"></script>
  <script src="/7z/content/bootstrap/js/bootstrap.bundle.js"></script>
  <script src="/7z/content/chart-js/chart.bundle.min.js"></script>
  <!-- <script src="/7z/content/chart-js/chartjs-plugin-labels.min.js"></script> -->
  <script src="/7z/content/chart-js/chartjs-plugin-datalabels.min.js"></script>


  <link rel="stylesheet" href="/stylesheets/app.css" />
  <link rel="stylesheet" href="/fontawesome/css/all.css" />
</head>

<style>
  .firstRowholder {
    /* background-color: rgb(36, 42, 49); */
    /* border-radius: 4px; */
    margin-left: 5px;
    margin-right: 15px;
    margin-bottom: 15px;
    /* border-bottom: 2px solid rgb(36, 42, 49); */

  }

  .middleRowholder {
    /* background-color: rgb(36, 42, 49); */
    /* border-radius: 4px; */
    /* margin-left: 5px; */
    margin-right: 15px;
    margin-bottom: 15px;
    /* border-bottom: 2px solid rgb(36, 42, 49); */
  }

  .card {
    border: 1px solid grey;
    margin-bottom: 5px;
    color: white;
    font-size: 14px;
  }

  .green-top50 {
    background-color: green;
  }

  .amber-top50 {
    background-color: orange;
  }

  .red-top50 {
    background-color: red;
  }
</style>

<body>

  <!-- doa claims modal -->
  <!--  Doa Modal -->
  <div class="modal fade" id="doaClaimsNo4C-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" style="width: 1950px;">
      <div class="modal-content">
        <div style="background-color: rgb(252, 176, 38); height: 50px;">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="margin-right: 10px; margin-top: 20px;">&times;</span>
            </button> -->
          <h3 style="text-align: center; margin: 8px;"><%= division %> <%= allDoaClaimsWithout4C.length %> DOA CLAIMS NOT COVERED BY 4C</h3>
        </div>
        <div class="modal-body">
          <% let xDOAClaims = 0 %>
          <% for (let c of allDoaClaimsWithout4C) { %>
          <% xDOAClaims++ %>
          <div class="card ">
            <div class="card-body">
              <div style="display: flex; justify-content: space-between;">
                <div style="text-align: start;">
                  <h5># <%= xDOAClaims %></h5>
                  <h5>Claim Number: <%= c.claimNumber %></h5>
                  <h5>Claim Submitted: <%= moment(c.importedDate).format("DD/MM/YYYY") %></h5>
                  <h5>Serial: <%= c.name %></h5>
                  <h5>Model: <%= c.model %></h5>
                  <h5>Build Date: <%= c.buildDate %></h5>
                </div>
              </div>
              <div style="text-align: start;">
                <h5>Narrative: <br /> <%= c.description %></h5>
              </div>
              <hr>
              <% if (c.vetted === 'Yes') { %>
              <div style="text-align: start;">
                <h5>Comments by <%= c.vettedBy %>: <br /> <%= c.notes %></h5>
              </div>
              <% } else { %>
              <div style="text-align: start;">
                <h5>Not yet vetted</h5>
              </div>
              <% } %>
            </div>
          </div>
          <%} %>
        </div>
        <div class="modal-footer" style="border: none;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        <div style="background-color: rgb(252, 176, 38); display: flex; align-items: center; height: 50px; display: flex; ">
          <img style="margin: 5px;" height="24px" src="/7z/content/images/jcb-logo.png"> <img height="24px" src="/7z/content/images/df.png">
        </div>
      </div>
    </div>
  </div>

  <!-- T0 claims modal -->
  <!--  Doa Modal -->
  <div class="modal fade" id="T0ClaimsNo4C-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl" style="width: 1950px;">
      <div class="modal-content">
        <div style="background-color: rgb(252, 176, 38); height: 50px;">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" style="margin-right: 10px; margin-top: 20px;">&times;</span>
            </button> -->
          <h3 style="text-align: center; margin: 8px;"><%= division %> <%= allT0ClaimsWithout4C.length %> T0 CLAIMS NOT COVERED BY 4C</h3>
        </div>
        <div class="modal-body">
          <% let xT0Claims = 0 %>
          <% for (let c of allT0ClaimsWithout4C) { %>
          <% xT0Claims++ %>

          <div class="card ">
            <div class="card-body">
              <div style="display: flex; justify-content: space-between;">
                <div style="text-align: start;">
                  <h5># <%= xT0Claims %></h5>
                  <h5>Claim Number: <%= c.claimNumber %></h5>
                  <h5>Claim Submitted: <%= moment(c.importedDate).format("DD/MM/YYYY") %></h5>
                  <h5>Serial: <%= c.name %></h5>
                  <h5>Model: <%= c.model %></h5>
                  <h5>Build Date: <%= c.buildDate %></h5>
                </div>
              </div>
              <div style="text-align: start;">
                <h5>Narrative: <br /> <%= c.description %></h5>
              </div>
              <hr>
              <% if (c.vetted === 'Yes') { %>
              <div style="text-align: start;">
                <h5>Comments by <%= c.vettedBy %>: <br /> <%= c.notes %></h5>
              </div>
              <% } else { %>
              <div style="text-align: start;">
                <h5>Not yet vetted</h5>
              </div>
              <% } %>

            </div>
          </div>
          <%} %>
        </div>
        <div class="modal-footer" style="border: none;">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
        <div style="background-color: rgb(252, 176, 38); display: flex; align-items: center; height: 50px; display: flex; ">
          <img style="margin: 5px;" height="24px" src="/7z/content/images/jcb-logo.png"> <img height="24px" src="/7z/content/images/df.png">
        </div>
      </div>
    </div>
  </div>


  <!-- dpu modal -->
  <div class="modal fade" id="modal_dpu" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">

        <div style="background-color: rgb(252, 176, 38); height: 50px;">
          <button style="color: black; margin: 5px;" class="close" aria-label="Close"></button>
          <h3 style="text-align: center; margin: 8px;">Update DPU</h3>
        </div>
        <div class="modal-body">
          <fieldset>
            <form id='theForm' action="/dash/updateQmr/<%= internalDpuRaw._id %>" method="POST">
              <div class="row" style="color:black">
                <div class="col" style="margin-bottom: 10px;">
                  <h5 style="text-align: center;">Data</h5>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[0] %></label>
                    <input class="form-control" type="number" step="0.1" name="stat1" style="margin-bottom: 10px;" value="<%= internalDpuRaw.stat1 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[1] %></label>
                    <input class="form-control" type="number" step="0.1" name="stat2" style="margin-bottom: 10px;" value="<%= internalDpuRaw.stat2 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[2] %></label>
                    <input class="form-control" type="number" step="0.1" name="stat3" style="margin-bottom: 10px;" value="<%= internalDpuRaw.stat3 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[3] %></label>
                    <input class="form-control" type="number" step="0.1" name="stat4" style="margin-bottom: 10px;" value="<%= internalDpuRaw.stat4 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[4] %></label>
                    <input class="form-control" type="number" step="0.1" name="stat5" style="margin-bottom: 10px;" value="<%= internalDpuRaw.stat5 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[5] %></label>
                    <input class="form-control" type="number" step="0.1" name="stat6" style="margin-bottom: 10px;" value="<%= internalDpuRaw.stat6 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[6] %></label>
                    <input class="form-control" type="number" step="0.1" name="stat7" style="margin-bottom: 10px;" value="<%= internalDpuRaw.stat7 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[7] %></label>
                    <input class="form-control" type="number" step="0.1" name="stat8" style="margin-bottom: 10px;" value="<%= internalDpuRaw.stat8 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[8] %></label>
                    <input class="form-control" type="number" step="0.1" name="stat9" style="margin-bottom: 10px;" value="<%= internalDpuRaw.stat9 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[9] %></label>
                    <input class="form-control" type="number" step="0.1" name="stat10" style="margin-bottom: 10px;" value="<%= internalDpuRaw.stat10 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[10] %></label>
                    <input class="form-control" type="number" step="0.1" name="stat11" style="margin-bottom: 10px;" value="<%= internalDpuRaw.stat11 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[11] %></label>
                    <input class="form-control" type="number" step="0.1" name="stat12" style="margin-bottom: 10px;" value="<%= internalDpuRaw.stat12 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[12] %></label>
                    <input class="form-control" type="number" step="0.1" name="stat13" style="margin-bottom: 10px;" value="<%= internalDpuRaw.stat13 %>">
                  </div>


                </div>
                <div class="col">
                  <h5 style="text-align: center;">Target</h5>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[0] %></label>
                    <input class="form-control" type="number" step="0.1" name="target1" style="margin-bottom: 10px;" value="<%= internalDpuRaw.target1 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[1] %></label>
                    <input class="form-control" type="number" step="0.1" name="target2" style="margin-bottom: 10px;" value="<%= internalDpuRaw.target2 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[2] %></label>
                    <input class="form-control" type="number" step="0.1" name="target3" style="margin-bottom: 10px;" value="<%= internalDpuRaw.target3 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[3] %></label>
                    <input class="form-control" type="number" step="0.1" name="target4" style="margin-bottom: 10px;" value="<%= internalDpuRaw.target4 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[4] %></label>
                    <input class="form-control" type="number" step="0.1" name="target5" style="margin-bottom: 10px;" value="<%= internalDpuRaw.target5 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[5] %></label>
                    <input class="form-control" type="number" step="0.1" name="target6" style="margin-bottom: 10px;" value="<%= internalDpuRaw.target6 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[6] %></label>
                    <input class="form-control" type="number" step="0.1" name="target7" style="margin-bottom: 10px;" value="<%= internalDpuRaw.target7 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[7] %></label>
                    <input class="form-control" type="number" step="0.1" name="target8" style="margin-bottom: 10px;" value="<%= internalDpuRaw.target8 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[8] %></label>
                    <input class="form-control" type="number" step="0.1" name="target9" style="margin-bottom: 10px;" value="<%= internalDpuRaw.target9 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[9] %></label>
                    <input class="form-control" type="number" step="0.1" name="target10" style="margin-bottom: 10px;" value="<%= internalDpuRaw.target10 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[10] %></label>
                    <input class="form-control" type="number" step="0.1" name="target11" style="margin-bottom: 10px;" value="<%= internalDpuRaw.target11 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[11] %></label>
                    <input class="form-control" type="number" step="0.1" name="target12" style="margin-bottom: 10px;" value="<%= internalDpuRaw.target12 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[12] %></label>
                    <input class="form-control" type="number" step="0.1" name="target13" style="margin-bottom: 10px;" value="<%= internalDpuRaw.target13 %>">
                  </div>


                  <button type="button" id="modalClose" data-dismiss="modal" class="btn btn-danger float-right" style=" margin-left: 8px; color: white; border-radius: 4px;">Cancel</button>
                  <button id="btnSave" class="btn btn-success float-right" type='submit' style=" margin-bottom: 10px; color: white; border-radius: 4px;">Confirm</button>
                </div>
              </div>
            </form>
          </fieldset>
        </div>
        <div style="background-color: rgb(252, 176, 38); display: flex; align-items: center; height: 50px; display: flex; ">
          <img style="margin: 5px;" height="24px" src="/7z/content/images/jcb-logo.png"> <img height="24px" src="/7z/content/images/df.png">
        </div>

      </div>
    </div>
  </div>

  <!-- cfc modal -->
  <div class="modal fade" id="modal_cfc" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">

        <div style="background-color: rgb(252, 176, 38); height: 50px;">
          <button style="color: black; margin: 5px;" class="close" aria-label="Close"></button>
          <h3 style="text-align: center; margin: 8px;">Update CFC RFT</h3>
        </div>
        <div class="modal-body">
          <fieldset>
            <form id='theForm' action="/dash/updateQmr/<%= internalCfcRaw._id %>" method="POST">
              <div class="row" style="color:black">
                <div class="col" style="margin-bottom: 10px;">
                  <h5 style="text-align: center;">Data</h5>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[0] %></label>
                    <input class="form-control" type="number" step="0" name="stat1" style="margin-bottom: 10px;" value="<%= internalCfcRaw.stat1 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[1] %></label>
                    <input class="form-control" type="number" step="0" name="stat2" style="margin-bottom: 10px;" value="<%= internalCfcRaw.stat2 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[2] %></label>
                    <input class="form-control" type="number" step="0" name="stat3" style="margin-bottom: 10px;" value="<%= internalCfcRaw.stat3 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[3] %></label>
                    <input class="form-control" type="number" step="0" name="stat4" style="margin-bottom: 10px;" value="<%= internalCfcRaw.stat4 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[4] %></label>
                    <input class="form-control" type="number" step="0" name="stat5" style="margin-bottom: 10px;" value="<%= internalCfcRaw.stat5 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[5] %></label>
                    <input class="form-control" type="number" step="0" name="stat6" style="margin-bottom: 10px;" value="<%= internalCfcRaw.stat6 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[6] %></label>
                    <input class="form-control" type="number" step="0" name="stat7" style="margin-bottom: 10px;" value="<%= internalCfcRaw.stat7 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[7] %></label>
                    <input class="form-control" type="number" step="0" name="stat8" style="margin-bottom: 10px;" value="<%= internalCfcRaw.stat8 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[8] %></label>
                    <input class="form-control" type="number" step="0" name="stat9" style="margin-bottom: 10px;" value="<%= internalCfcRaw.stat9 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[9] %></label>
                    <input class="form-control" type="number" step="0" name="stat10" style="margin-bottom: 10px;" value="<%= internalCfcRaw.stat10 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[10] %></label>
                    <input class="form-control" type="number" step="0" name="stat11" style="margin-bottom: 10px;" value="<%= internalCfcRaw.stat11 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[11] %></label>
                    <input class="form-control" type="number" step="0" name="stat12" style="margin-bottom: 10px;" value="<%= internalCfcRaw.stat12 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[12] %></label>
                    <input class="form-control" type="number" step="0" name="stat13" style="margin-bottom: 10px;" value="<%= internalCfcRaw.stat13 %>">
                  </div>


                </div>
                <div class="col">
                  <h5 style="text-align: center;">Target</h5>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[0] %></label>
                    <input class="form-control" type="text" name="target1" style="margin-bottom: 10px;" value="<%= internalCfcRaw.target1 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[1] %></label>
                    <input class="form-control" type="text" name="target2" style="margin-bottom: 10px;" value="<%= internalCfcRaw.target2 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[2] %></label>
                    <input class="form-control" type="text" name="target3" style="margin-bottom: 10px;" value="<%= internalCfcRaw.target3 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[3] %></label>
                    <input class="form-control" type="text" name="target4" style="margin-bottom: 10px;" value="<%= internalCfcRaw.target4 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[4] %></label>
                    <input class="form-control" type="text" name="target5" style="margin-bottom: 10px;" value="<%= internalCfcRaw.target5 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[5] %></label>
                    <input class="form-control" type="text" name="target6" style="margin-bottom: 10px;" value="<%= internalCfcRaw.target6 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[6] %></label>
                    <input class="form-control" type="text" name="target7" style="margin-bottom: 10px;" value="<%= internalCfcRaw.target7 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[7] %></label>
                    <input class="form-control" type="text" name="target8" style="margin-bottom: 10px;" value="<%= internalCfcRaw.target8 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[8] %></label>
                    <input class="form-control" type="text" name="target9" style="margin-bottom: 10px;" value="<%= internalCfcRaw.target9 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[9] %></label>
                    <input class="form-control" type="text" name="target10" style="margin-bottom: 10px;" value="<%= internalCfcRaw.target10 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[10] %></label>
                    <input class="form-control" type="text" name="target11" style="margin-bottom: 10px;" value="<%= internalCfcRaw.target11 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[11] %></label>
                    <input class="form-control" type="text" name="target12" style="margin-bottom: 10px;" value="<%= internalCfcRaw.target12 %>">
                  </div>
                  <div style="display: flex;">
                    <label style="width: 100px; padding-top: 8px;" for="buildNumber"><%= dpuMonths[12] %></label>
                    <input class="form-control" type="text" name="target13" style="margin-bottom: 10px;" value="<%= internalCfcRaw.target13 %>">
                  </div>


                  <button type="button" id="modalClose" data-dismiss="modal" class="btn btn-danger float-right" style=" margin-left: 8px; color: white; border-radius: 4px;">Cancel</button>
                  <button id="btnSave" class="btn btn-success float-right" type='submit' style=" margin-bottom: 10px; color: white; border-radius: 4px;">Confirm</button>
                </div>
              </div>
            </form>
          </fieldset>
        </div>
        <div style="background-color: rgb(252, 176, 38); display: flex; align-items: center; height: 50px; display: flex; ">
          <img style="margin: 5px;" height="24px" src="/7z/content/images/jcb-logo.png"> <img height="24px" src="/7z/content/images/df.png">
        </div>

      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row header-top">
      <div class="col-lg-5 d-none d-lg-block text-left" style="padding: 4px 4px 5px 4px">
        <a href="/"><img height="24px" src="/7z/content/images/jcb-logo.png"></a>
        <!-- <a href="/"><img height="44px" src="/dog/dog.gif"></a>  -->
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row" style="display: flex; flex-wrap: wrap;">
      <div style="display: flex; justify-content: center; background-color: black; width: 100%;">
        <h1 style="font-size: 34px; color: white; margin: 0px; text-align: center"><%= division %> Quality Management Report</h1>
      </div>

      <section class="col-main" style="width: 100%; height: 88vh; display: flex; flex-wrap: wrap; justify-content: space-between; color: white;">

        <!-- first col -->
        <div style="width: 620px; height: 100%; display: flex; flex-direction: column;">
          <div style="text-align: center;">
            <h4>Major Escapes</h4>
          </div>

          <div style="display: flex; flex-direction: column; height: 80vh; border-right: 1px solid rgb(97, 109, 122); ">

            <div class="firstRowholder" style=" height: 237px;">
              <div style="margin-bottom: 10px;">
                <!-- <span style=" font-size: 18px; color: <%= t0CustomerColor  %>; " class="fas fa-circle"></span> - T0 DPU & RFT -->
                Major Escapes by Build Month
              </div>
              <div style="height: 85%;">
                <canvas id="bar-chart"></canvas>
              </div>
            </div>

            <div class="firstRowholder" style=" height: 237px;">
              <div style="margin-bottom: 10px;">
                <!-- <span style=" font-size: 18px; color: <%= escapeColor  %>; " class="fas fa-circle"></span> - Major Escape DPU -->
                Major Escape DPU
              </div>
  
              <div style="height: 85%;">
                <canvas id="chart3"></canvas>
              </div>
            </div>

            

           

            <div class="firstRowholder" style=" height: 220px;">
              <div style="margin-bottom: 5px;">
                Delivered Quality Planned Improvements
              </div>

              <table class="table table-dark table-striped" style="height: 91%; font-size: 12px; ">
                <thead>
                  <tr style="">
                    <th style=" width: 5px;">#</th>
                    <th style="">Improvement</th>
                    <th style="">Who</th>
                    <th>When</th>
                    <th>Status</th>
                    <th style=" width: 115px;">Contribution</th>
                  </tr>
                </thead>
                <tbody>
                  <% let x = 0 %>
                  <% for (let d of doaImprovements) { %>
                  <% x++ %>
                  <% if (currentUser && currentUser.isQmr)  { %>
                  <tr>
                    <td style=" width: 5px;"><a href="" data-toggle="modal" data-target="#modal<%= d._id %>"><%= x %></a></td>
                    <td style=""><a href="" data-toggle="modal" data-target="#modal<%= d._id %>"><%= d.name %></a></td>
                    <td style=""><a href="" data-toggle="modal" data-target="#modal<%= d._id %>"><%= d.who %></a></td>
                    <td><a href="" data-toggle="modal" data-target="#modal<%= d._id %>"><%= d.when %></a></td>
                    <td><a href="" data-toggle="modal" data-target="#modal<%= d._id %>"><%= d.status %></a></td>
                    <td style=" width: 115px;"><a href="" data-toggle="modal" data-target="#modal<%= d._id %>"><%= d.contribution %></a></td>
                  </tr>
                  <% } else { %>
                  <tr>
                    <td style=" width: 5px;"><%= x %></td>
                    <td style=""><%= d.name %></td>
                    <td style=""><%= d.who %></td>
                    <td><%= d.when %></td>
                    <td><%= d.status %></td>
                    <td style=" width: 115px;"><%= d.contribution %></td>
                  </tr>

                  <% } %>

                  <div class="modal fade" id="modal<%= d._id %>" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                      <div class="modal-content">

                        <div style="background-color: rgb(252, 176, 38); height: 50px;">
                          <button style="color: black; margin: 5px;" class="close" aria-label="Close"></button>
                          <h3 style="text-align: center; margin: 8px;">Update <%= d.name %></h3>
                        </div>
                        <div class="modal-body">
                          <fieldset>
                            <form id='theForm' action="/dash/updateQmr/<%= d._id %>" method="POST">
                              <div class="row" style="color:black">
                                <div class="col" style="margin-bottom: 10px;">
                                  <label for="buildNumber">Improvement</label>
                                  <input class="form-control" type="text" name="name" style="margin-bottom: 10px;" value="<%= d.name %>" required>
                                  <label for="buildNumber">Who</label>
                                  <input class="form-control" type="text" name="who" style="margin-bottom: 10px;" value="<%= d.who %>" required>
                                  <label for="buildNumber">When</label>
                                  <input class="form-control" type="text" name="when" style="margin-bottom: 10px;" value="<%= d.when %>" required>
                                  <label for="buildNumber">Contribution</label>
                                  <input class="form-control" type="text" name="contribution" style="margin-bottom: 10px;" value="<%= d.contribution %>" required>
                                  <label for="buildNumber">Status</label>
                                  <textarea class="form-control" style="margin-bottom: 10px;" type="text" rows="3" cols="4" name="status" required><%= d.status %></textarea>
                                  <!-- <label for="buildNumber" style="color: red; font-size: 14px; font-weight: bold; margin-top: 20px; ">Maximum of 48 hours</label> -->
                                  <button type="button" id="modalClose" data-dismiss="modal" class="btn btn-danger float-right" style=" margin-left: 8px; color: white; border-radius: 4px;">Cancel</button>
                                  <button id="btnSave" class="btn btn-success float-right" type='submit' style=" margin-bottom: 10px; color: white; border-radius: 4px;">Confirm</button>
                                </div>

                              </div>
                            </form>
                          </fieldset>
                        </div>
                        <div style="background-color: rgb(252, 176, 38); display: flex; align-items: center; height: 50px; display: flex; ">
                          <img style="margin: 5px;" height="24px" src="/7z/content/images/jcb-logo.png"> <img height="24px" src="/7z/content/images/df.png">
                        </div>

                      </div>
                    </div>
                  </div>
                  <% } %>
                </tbody>
              </table>
            </div>

          </div>
        </div>

        <!-- middle col -->
        <div style="width: 620px; height: 100%; display: flex; flex-direction: column;">
          <div style="text-align: center;">
            <h4>Dealer Delivered Quality DOA</h4>
          </div>

          <div style="display: flex; flex-direction: column; height: 80vh; border-right: 1px solid rgb(97, 109, 122);">

            <div class="middleRowholder" style=" height: 475px; margin-bottom: 20px;">

              <div style="margin-bottom: 10px;">
                <!-- <span style=" font-size: 18px; color: <%= doaDealerColor  %>;" class="fas fa-circle"></span> - DOA DPU & RFT -->
                DOA DPU & RFT
              </div>

              <div style="height: 96%;">
                <canvas id="chart2"></canvas>
              </div>
            </div>

           

            <div class="middleRowholder" style=" height: 43px; display: flex; justify-content: space-between; flex-direction: column; ">
              <div style=" ">

                <div style="margin-bottom: 15px; text-align: center;">
                  DOA Top 50 Rag - (Target 75%)
                </div>

                <div style="background: white; height: 70px; width: 6px; margin-top: -4px; margin-left: 440px; margin-right: -150px; z-index: 100; position: absolute;"></div>
                <div class="progress" style="height: 60px; border-radius: 0px; margin-bottom: 25px; width: auto; background-color: black;">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="background-color: green; font-size: 20px; color: black; font-weight: bold; width: <%= doaTop50Green %>%"><%= doaTop50Green %>%</div>
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="background-color: orange; font-size: 20px; color: black; font-weight: bold; width: <%= doaTop50Amber %>%"><%= doaTop50Amber %>%</div>
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="background-color: red;  font-size: 20px; color: black; font-weight: bold; width: <%= doaTop50Red %>%"><%= doaTop50Red %>%</div>
                  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="background-color: grey;  font-size: 20px; color: black; font-weight: bold; width: <%= noActionPercentDOA %>%"><%= noActionPercentDOA %>%</div>
                </div>
              </div>
          
                <div style="text-align: center; margin-bottom: 5px;">
                  DOA Top 50 Repeats
                </div>

                <div style="display: flex; justify-content: space-evenly;">
                  <div style="color: white; text-align: center;">
                    <div>Prev Month</div>
                    <div style="  margin-top: -10px; font-size: 55px;"><%= doaTop50RepeatPercentPrev %>%</div>
                  </div>
                  <div style="color: white; text-align: center;">
                    <div>Current Month</div>
                    <div style=" margin-top: -10px; font-size: 55px; color: <%= doaTop50RepeatPercentCurrentColor %>;"><%= doaTop50RepeatPercentCurrent %>%</div>
                  </div>
                </div>
              
            </div>

            <div class="middleRowholder" style=" height: 195px;">
             
              


            </div>

          </div>
        </div>

        <!-- end col -->
        <div style="width: 620px; height: 100%; display: flex; flex-direction: column;">
          <div style="text-align: center;">
            <h4>Internal Quality</h4>
          </div>

          <a <% if (currentUser && currentUser.isQmr)  { %> data-toggle="modal" data-target="#modal_dpu" style="cursor: pointer;" <% } else { %> <% } %>>
            <div style="display: flex; flex-direction: column; height: 80vh;  ">
              <div class="middleRowholder" style=" height: 237px;">
                <div style="margin-bottom: 10px;">
                  Total DPU
                </div>
                <div style="height: 85%;">
                  <canvas id="chart4"></canvas>
                </div>
              </div>
          </a>

          <a <% if (currentUser && currentUser.isQmr)  { %> data-toggle="modal" data-target="#modal_cfc" style="cursor: pointer;" <% } else { %> <% } %>>
            <div class="middleRowholder" style=" height: 237px;">

              <div style="margin-bottom: 10px;">
                CFC DPU & RFT
              </div>

              <div style="height: 85%;">
                <canvas id="chart5"></canvas>
              </div>

            </div>
          </a>

          <div class="middleRowholder" style=" height: 237px;">

            <div style="margin-bottom: 5px;">
              Internal Quality Planned Improvements
            </div>

            <table class="table table-dark table-striped" style="height: 202px; font-size: 12px; ">
              <thead>
                <tr style="">
                  <th style=" width: 5px;">#</th>
                  <th style="">Improvement</th>
                  <th style="">Who</th>
                  <th>When</th>
                  <th>Status</th>
                  <th style=" width: 115px;">Contribution</th>
                </tr>
              </thead>
              <tbody>
                <% let xInternal = 0 %>
                <% for (let d of internalImprovements) { %>
                <% xInternal++ %>
                <% if (currentUser && currentUser.isQmr)  { %>
                <tr>
                  <td style=" width: 5px;"><a href="" data-toggle="modal" data-target="#modalInt<%= d._id %>"><%= xInternal %></a></td>
                  <td style=""><a href="" data-toggle="modal" data-target="#modalInt<%= d._id %>"><%= d.name %></a></td>
                  <td style=""><a href="" data-toggle="modal" data-target="#modalInt<%= d._id %>"><%= d.who %></a></td>
                  <td><a href="" data-toggle="modal" data-target="#modalInt<%= d._id %>"><%= d.when %></a></td>
                  <td><a href="" data-toggle="modal" data-target="#modalInt<%= d._id %>"><%= d.status %></a></td>
                  <td style=" width: 95px;"><a href="" data-toggle="#modalInt" data-target="#modal<%= d._id %>"><%= d.contribution %></a></td>
                </tr>
                <% } else { %>
                <tr>
                  <td style=" width: 5px;"><%= xInternal %></td>
                  <td style=" "><%= d.name %></td>
                  <td style=""><%= d.who %></td>
                  <td><%= d.when %></td>
                  <td><%= d.status %></td>
                  <td style=" width: 95px;"><%= d.contribution %></td>
                </tr>

                <% } %>

                <div class="modal fade" id="modalInt<%= d._id %>" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                      <div style="background-color: rgb(252, 176, 38); height: 50px;">
                        <button style="color: black; margin: 5px;" class="close" aria-label="Close"></button>
                        <h3 style="text-align: center; margin: 8px;">Update <%= d.name %></h3>
                      </div>
                      <div class="modal-body">
                        <fieldset>
                          <form id='theForm' action="/dash/updateQmr/<%= d._id %>" method="POST">
                            <div class="row" style="color:black">
                              <div class="col" style="margin-bottom: 10px;">
                                <label for="buildNumber">Improvement</label>
                                <input class="form-control" type="text" name="name" style="margin-bottom: 10px;" value="<%= d.name %>" required>
                                <label for="buildNumber">Who</label>
                                <input class="form-control" type="text" name="who" style="margin-bottom: 10px;" value="<%= d.who %>" required>
                                <label for="buildNumber">When</label>
                                <input class="form-control" type="text" name="when" style="margin-bottom: 10px;" value="<%= d.when %>" required>
                                <label for="buildNumber">Contribution</label>
                                <input class="form-control" type="text" name="contribution" style="margin-bottom: 10px;" value="<%= d.contribution %>" required>
                                <label for="buildNumber">Status</label>
                                <textarea class="form-control" style="margin-bottom: 10px;" type="text" rows="3" cols="4" name="status" required><%= d.status %></textarea>
                                <!-- <label for="buildNumber" style="color: red; font-size: 14px; font-weight: bold; margin-top: 20px; ">Maximum of 48 hours</label> -->
                                <button type="button" id="modalClose" data-dismiss="modal" class="btn btn-danger float-right" style=" margin-left: 8px; color: white; border-radius: 4px;">Cancel</button>
                                <button id="btnSave" class="btn btn-success float-right" type='submit' style=" margin-bottom: 10px; color: white; border-radius: 4px;">Confirm</button>
                              </div>

                            </div>
                          </form>
                        </fieldset>
                      </div>
                      <div style="background-color: rgb(252, 176, 38); display: flex; align-items: center; height: 50px; display: flex; ">
                        <img style="margin: 5px;" height="24px" src="/7z/content/images/jcb-logo.png"> <img height="24px" src="/7z/content/images/df.png">
                      </div>

                    </div>
                  </div>
                </div>
                <% } %>
              </tbody>
            </table>
          </div>

        </div>


      </section>

    </div>
  </div>



  <div class="container-fluid footer">

    <div class="row header-top">
      <div class="col-lg-6 d-none d-lg-block text-left" style="padding: 4px 4px 5px 4px">
        <img height="24px" src="/7z/content/images/jcb-logo.png">
        <img height="24px" src="/7z/content/images/df.png">
      </div>
      <div class="col-lg-6 d-none d-lg-block text-right" style="padding: 6px 12px 5px 0px; font-weight: bold">
        J.C. Bamford Excavators LTD &copy; 2022
      </div>
    </div>

  </div>


  <script>
    Chart.defaults.global.defaultFontColor = "white";
    //  Chart.defaults.global.defaultFontSize = 10;
    Chart.defaults.scale.gridLines.display = false;

    let options = {
      legend: {
        display: false,
      },
      tooltips: {
        enabled: true,
        mode: 'label',
        yAlign: 'center',
        //  callbacks: {
        //  title: function(tooltipItem, data) {
        //  return ""
        //  },
        //  // label: function(tooltipItem, data) {
        //  //   return data['datasets'][0]['data'][tooltipItem['index']];
        //  // },
        //  // afterLabel: function(tooltipItem, data) {
        //  //   var dataset = data['datasets'][0];
        //  //   var percent = Math.round((dataset['data'][tooltipItem['index']] / dataset["_meta"][0]['total']) * 100)
        //  //   return '(' + percent + '%)';
        //  // }
      },

      //  },
      maintainAspectRatio: false,
      responsive: true,
      scales: {
        xAxes: [{
          stacked: true,
          barPercentage: 0.8,
          ticks: {
            display: true,
            beginAtZero: true,
            fontSize: 9,
            fontColor: '#fff',
            autoSkip: false,
            maxRotation: 90,
            minRotation: 90,
            // callback: function(value) {if (value % 1 === 0) {return value;}}
          },
          dataLabels: {
            fontSize: 2
          },
          //     scaleLabel : {
          //       display     : true,
          //     //   labelString : 'Build Month',
          //       fontSize: 10,
          //       fontColor:'#fff'
          //   },
        }],
        yAxes: [{
            id: 'bar-y-axis',
            position: 'left',
            //  stacked : true,
            display: true,
            ticks: {
              beginAtZero: true,
              min: 0,
              max: 100,
              // stepSize: 0.3,
              fontSize: 2,
              fontColor: 'black',
              //  formatter:: function(value, context, values) {
              //              if(context.dataIndex === context.dataset.data.length - 1){
              //                       return value
              //      }
              //  }

              callback: function(value) {
                if (value % 0.2 === 0) {
                  return value
                }
              }
            },
            type: 'linear',

          },
          {
            id: 'bar-y-axis1',
            position: 'right',
            //  stacked : true,
            display: true,
            ticks: {
              beginAtZero: true,
              min: 0,
              max: 120,
              stepSize: 20,
              fontSize: 2,
              fontColor: 'black',
              callback: function(value) {
                if (value > 100) {
                  return ''
                } else {
                  if (value % 1 === 0) {
                    return value + '%'
                  }
                }

              }
            },
            type: 'linear',
          },

        ],
      },
    }

    let options2 = {
      legend: {
        display: false,
      },
      tooltips: {
        enabled: true,
        mode: 'label',
        yAlign: 'center',
        //  callbacks: {
        //  title: function(tooltipItem, data) {
        //  return ""
        //  },
        //  // label: function(tooltipItem, data) {
        //  //   return data['datasets'][0]['data'][tooltipItem['index']];
        //  // },
        //  // afterLabel: function(tooltipItem, data) {
        //  //   var dataset = data['datasets'][0];
        //  //   var percent = Math.round((dataset['data'][tooltipItem['index']] / dataset["_meta"][0]['total']) * 100)
        //  //   return '(' + percent + '%)';
        //  // }
      },

      //  },
      maintainAspectRatio: false,
      responsive: true,
      scales: {
        xAxes: [{
          stacked: true,
          barPercentage: 0.8,
          ticks: {
            display: true,
            beginAtZero: true,
            fontSize: 9,
            fontColor: '#fff',
            autoSkip: false,
            maxRotation: 90,
            minRotation: 90,
            // callback: function(value) {if (value % 1 === 0) {return value;}}
          },
          dataLabels: {
            fontSize: 2
          },
          //     scaleLabel : {
          //       display     : true,
          //     //   labelString : 'Build Month',
          //       fontSize: 10,
          //       fontColor:'#fff'
          //   },
        }],
        yAxes: [{
            // id: 'bar-y-axis',
            position: 'left',
            //  stacked : true,
            display: true,
            ticks: {
              beginAtZero: true,
              min: 0,
              max: 100,
              // stepSize: 0.3,
              fontSize: 2,
              fontColor: 'black',
              //  formatter:: function(value, context, values) {
              //              if(context.dataIndex === context.dataset.data.length - 1){
              //                       return value
              //      }
              //  }

              callback: function(value) {
                if (value % 0.2 === 0) {
                  return value
                }
              }
            },
            type: 'linear',

          },
          

        ],
      },
    }

    let escapeOptions = {
      legend: {
        display: false,
      },
      //  tooltips: {
      //      enabled: true,
      //      mode: 'label',
      //      yAlign: 'center',
      //      callbacks: {
      //      title: function(tooltipItem, data) {
      //      return ""
      //      },
      //      // label: function(tooltipItem, data) {
      //      //   return data['datasets'][0]['data'][tooltipItem['index']];
      //      // },
      //      // afterLabel: function(tooltipItem, data) {
      //      //   var dataset = data['datasets'][0];
      //      //   var percent = Math.round((dataset['data'][tooltipItem['index']] / dataset["_meta"][0]['total']) * 100)
      //      //   return '(' + percent + '%)';
      //      // }
      //  },

      //  },
      maintainAspectRatio: false,
      responsive: true,
      scales: {
        xAxes: [{
          stacked: true,
          barPercentage: 0.8,
          ticks: {
            display: true,
            beginAtZero: true,
            fontSize: 9,
            fontColor: '#fff',
            autoSkip: false,
            maxRotation: 90,
            minRotation: 90,
            // callback: function(value) {if (value % 1 === 0) {return value;}}
          },
          dataLabels: {
            fontSize: 2
          },
          //     scaleLabel : {
          //       display     : true,
          //     //   labelString : 'Build Month',
          //       fontSize: 10,
          //       fontColor:'#fff'
          //   },
        }],
        yAxes: [{
            id: 'bar-y-axis',
            position: 'left',
            //  stacked : true,
            display: false,
            ticks: {
              beginAtZero: true,
              min: 0,
              max: 100,
              // stepSize: 0.3,
              fontSize: 9,
              //  formatter:: function(value, context, values) {
              //              if(context.dataIndex === context.dataset.data.length - 1){
              //                       return value
              //      }
              //  }

              callback: function(value) {
                if (value % 0.2 === 0) {
                  return value
                }
              }
            },
            type: 'linear',

          },
          {
            id: 'bar-y-axis1',
            position: 'right',
            //  stacked : true,
            display: false,
            ticks: {
              beginAtZero: true,
              min: 0,
              max: 120,
              stepSize: 20,
              fontSize: 9,
              fontColor: 'black',
              callback: function(value) {
                if (value > 100) {
                  return ''
                } else {
                  if (value % 1 === 0) {
                    return value + '%'
                  }
                }

              }
            },
            type: 'linear',
          },

        ],
      },
    }

    let dpuOptions = {
      legend: {
        display: false,
      },
      //  tooltips: {
      //      enabled: true,
      //      mode: 'label',
      //      yAlign: 'center',
      //      callbacks: {
      //      title: function(tooltipItem, data) {
      //      return ""
      //      },
      //      // label: function(tooltipItem, data) {
      //      //   return data['datasets'][0]['data'][tooltipItem['index']];
      //      // },
      //      // afterLabel: function(tooltipItem, data) {
      //      //   var dataset = data['datasets'][0];
      //      //   var percent = Math.round((dataset['data'][tooltipItem['index']] / dataset["_meta"][0]['total']) * 100)
      //      //   return '(' + percent + '%)';
      //      // }
      //  },

      //  },
      maintainAspectRatio: false,
      responsive: true,
      scales: {
        xAxes: [{
          stacked: true,
          barPercentage: 0.8,
          ticks: {
            display: true,
            beginAtZero: true,
            fontSize: 9,
            fontColor: '#fff',
            autoSkip: false,
            maxRotation: 90,
            minRotation: 90,
            // callback: function(value) {if (value % 1 === 0) {return value;}}
          },
          dataLabels: {
            fontSize: 2
          },
          //     scaleLabel : {
          //       display     : true,
          //     //   labelString : 'Build Month',
          //       fontSize: 10,
          //       fontColor:'#fff'
          //   },
        }],
        yAxes: [{
            id: 'bar-y-axis',
            position: 'left',
            //  stacked : true,
            display: false,
            ticks: {
              beginAtZero: true,
              min: 0,
              //  max         : 100,
              // stepSize: 0.3,
              fontSize: 9,
              //  formatter:: function(value, context, values) {
              //              if(context.dataIndex === context.dataset.data.length - 1){
              //                       return value
              //      }
              //  }

              callback: function(value) {
                if (value % 0.2 === 0) {
                  return value
                }
              }
            },
            type: 'linear',

          },
          {
            id: 'bar-y-axis1',
            position: 'right',
            //  stacked : true,
            //    display : true,
            ticks: {
              beginAtZero: true,
              min: 0,
              //  max         : 120,
              //  stepSize: 50,
              fontSize: 9,
              //  callback: function(value) {
              //      if (value > 100) {
              //          return ''
              //      } else {
              //      if (value % 1 === 0) {
              //          return value + '%'
              //          }
              //      }

              //      }
            },
            type: 'linear',
          },

        ],
      },
    }

    let cfcOptions = {
      legend: {
        display: false,
      },
      //  tooltips: {
      //      enabled: true,
      //      mode: 'label',
      //      yAlign: 'center',
      //      callbacks: {
      //      title: function(tooltipItem, data) {
      //      return ""
      //      },
      //      // label: function(tooltipItem, data) {
      //      //   return data['datasets'][0]['data'][tooltipItem['index']];
      //      // },
      //      // afterLabel: function(tooltipItem, data) {
      //      //   var dataset = data['datasets'][0];
      //      //   var percent = Math.round((dataset['data'][tooltipItem['index']] / dataset["_meta"][0]['total']) * 100)
      //      //   return '(' + percent + '%)';
      //      // }
      //  },

      //  },
      maintainAspectRatio: false,
      responsive: true,
      scales: {
        xAxes: [{
          stacked: true,
          barPercentage: 0.8,
          ticks: {
            display: true,
            beginAtZero: true,
            fontSize: 9,
            fontColor: '#fff',
            autoSkip: false,
            maxRotation: 90,
            minRotation: 90,
            // callback: function(value) {if (value % 1 === 0) {return value;}}
          },
          dataLabels: {
            fontSize: 2
          },
          //     scaleLabel : {
          //       display     : true,
          //     //   labelString : 'Build Month',
          //       fontSize: 10,
          //       fontColor:'#fff'
          //   },
        }],
        yAxes: [{
            id: 'bar-y-axis',
            position: 'left',
            //  stacked : true,
            display: false,
            ticks: {
              beginAtZero: true,
              min: 0,
              //  max         : 100,
              // stepSize: 0.3,
              fontSize: 9,
              //  formatter:: function(value, context, values) {
              //              if(context.dataIndex === context.dataset.data.length - 1){
              //                       return value
              //      }
              //  }

              callback: function(value) {
                if (value % 0.2 === 0) {
                  return value
                }
              }
            },
            type: 'linear',

          },
          {
            id: 'bar-y-axis1',
            position: 'right',
            //  stacked : true,
            //    display : true,
            ticks: {
              beginAtZero: true,
              min: 0,
              max: 120,
              //  stepSize: 50,
              fontSize: 9,
              callback: function(value) {
                if (value > 100) {
                  return ''
                } else {
                  if (value % 1 === 0) {
                    return value + '%'
                  }
                }

              }
            },
            type: 'linear',
          },

        ],
      },
    }

    let barChartData1 = {
      labels: <%- JSON.stringify(escapeMonths) %>,

      datasets: [
        {
          type: 'bar',
          label: 'RFT',
          borderColor: 'blue',
          backgroundColor: 'transparent',
          // yAxisID: 'bar-y-axis1',
          datalabels: {
            // display labels for this specific dataset
            display: true,
            color: 'white',
            rotation: -90,
            align: 'top',
            // offset: 8,
            // anchor: 'start',
            // formatter: function(value, context, values) {
            //   if (value > 0) {
            //     value = value.toString();
            //     value = value.split(/(?=(?:...)*$)/);
            //     value = value.join(',');
            //     return value;
            //   } else {
            //     value = "";
            //     return value

            //   }
            // },
          },
          data: [<%= escapeData %>],
          // data: [0,1,2,1,2,4,7,7,6,9,15,5,16,19,20,10,8,4,0,1,0],

        },
        // {
        //   type: 'line',
        //   label: 'Target',
        //   borderColor: 'red',
        //   pointRadius: 0,
        //   borderDash: [10, 5],
        //   backgroundColor: 'transparent',
        //   yAxisID: 'bar-y-axis1',
        //   datalabels: {
        //     // display labels for this specific dataset
        //     display: true,
        //     color: 'white',
        //     //  rotation: -90,
        //     align: 'top',
        //     offset: -4,
        //     // anchor: 'start',
        //     formatter: function(value, context, values) {
        //       if (context.dataIndex === context.dataset.data.length - 1) {
        //         //  value = value.toString();
        //         //  value = value.split(/(?=(?:...)*$)/);
        //         //  value = value.join(',');
        //         return value + '%';
        //       } else {
        //         value = "";
        //         return value

        //       }
        //     },
        //   },
        //   data: [<%= t0RFTTarget %>],

        // },
        // {
        //   type: 'line',
        //   label: 'DPU',
        //   borderColor: 'orange',
        //   pointRadius: 0,
        //   lineTension: 0,
        //   backgroundColor: 'transparent',
        //   yAxisID: 'bar-y-axis',
        //   datalabels: {
        //     // display labels for this specific dataset
        //     display: true,
        //     color: 'white',
        //     rotation: -90,
        //     clamp: true,
        //     align: 'top',
        //     offset: -2,
        //     formatter: function(value, context, values) {
        //       if (value > 0) {
        //         //  value = value.toString();
        //         //  value = value.split(/(?=(?:...)*$)/);
        //         //  value = value.join(',');
        //         return value;
        //       } else {
        //         value = "";
        //         return value

        //       }
        //     },
        //   },
        //   data: [<%= t0DPU %>],

        // },
        // {
        //   type: 'line',
        //   label: 'DPU Target',
        //   borderColor: 'red',
        //   pointRadius: 0,
        //   borderDash: [10, 5],
        //   //  segment: {
        //   //         borderDash: ctx => ((ctx.chart.data.datasets[ctx.datasetIndex].data.length - 1) === ctx.p1DataIndex ? [2, 2] : undefined)
        //   //     },
        //   backgroundColor: 'transparent',
        //   yAxisID: 'bar-y-axis',
        //   datalabels: {
        //     // display labels for this specific dataset
        //     display: true,
        //     color: 'white',
        //     display: true,
        //     color: 'white',
        //     rotation: -90,
        //     // anchor: 'start',
        //     align: 'top',
        //     // offset: -8,
        //     formatter: function(value, context) {
        //       if (context.dataIndex === context.dataset.data.length - 1) {
        //         return value;
        //       }
        //       return "";
        //     }
        //   },
        //   data: [<%= t0DPUTarget %>],

        // },
      ],
    }

    let barChartData2 = {
      labels: <%- JSON.stringify(theMonths) %>,

      datasets: [

        {
          type: 'line',
          label: 'RFT',
          borderColor: 'blue',
          backgroundColor: 'transparent',
          pointRadius: 0,
          lineTension: 0,
          yAxisID: 'bar-y-axis1',
          datalabels: {
            // display labels for this specific dataset
            display: true,
            color: 'white',
            rotation: -90,
            align: 'top',
            // offset: 8,
            // anchor: 'start',
            formatter: function(value, context, values) {
              if (value > 0) {
                value = value.toString();
                value = value.split(/(?=(?:...)*$)/);
                value = value.join(',');
                return value;
              } else {
                value = "";
                return value

              }
            },
          },
          data: [<%= daoRFT %>],

        },
        {
          type: 'line',
          label: 'Target',
          borderColor: 'red',
          pointRadius: 0,
          borderDash: [10, 5],

          backgroundColor: 'transparent',
          yAxisID: 'bar-y-axis1',
          datalabels: {
            // display labels for this specific dataset
            display: true,
            color: 'white',
            //  rotation: -90,
            align: 'top',
            offset: -6,
            // anchor: 'start',
            formatter: function(value, context, values) {
              if (context.dataIndex === context.dataset.data.length - 1) {
                //  value = value.toString();
                //  value = value.split(/(?=(?:...)*$)/);
                //  value = value.join(',');
                return value + '%';
              } else {
                value = "";
                return value

              }
            },
          },
          data: [<%= daoRFTTarget %>],

        },
        {
          type: 'bar',
          label: 'DPU',
          pointRadius: 0,
          lineTension: 0,
          borderColor: 'orange',
          backgroundColor: 'orange',
          yAxisID: 'bar-y-axis',
          datalabels: {
            // display labels for this specific dataset
            display: true,
            color: 'white',
            rotation: -90,
            clamp: true,
            align: 'top',
            // offset: -2,
             anchor: 'end',
            formatter: function(value, context, values) {
              if (value > 0) {
                //  value = value.toString();
                //  value = value.split(/(?=(?:...)*$)/);
                //  value = value.join(',');
                return value;
              } else {
                value = "";
                return value

              }
            },
          },
          data: [<%= daoDPU %>],

        },
        {
          type: 'line',
          label: 'DPU Target',
          borderColor: 'red',
          pointRadius: 0,
          borderDash: [10, 5],
          //  segment: {
          //         borderDash: ctx => ((ctx.chart.data.datasets[ctx.datasetIndex].data.length - 1) === ctx.p1DataIndex ? [2, 2] : undefined)
          //     },
          backgroundColor: 'transparent',
          yAxisID: 'bar-y-axis',
          datalabels: {
            display: true,
            color: 'white',
            rotation: -90,
            // anchor: 'start',
            align: 'top',
            // offset: -8,
            formatter: function(value, context) {
              if (context.dataIndex === context.dataset.data.length - 1) {
                return value.y;
              }
              return "";
            }
          },
          data: [<%= daoDPUTarget %>],

        },


      ],
    }

    let barChartData3 = {
      labels: <%- JSON.stringify(theMonths) %>,

      datasets: [{
          type: 'line',
          label: 'DPU',
          borderColor: 'orange',
          pointRadius: 0,
          lineTension: 0,
          backgroundColor: 'transparent',
          yAxisID: 'bar-y-axis',
          datalabels: {
            // display labels for this specific dataset
            display: true,
            color: 'white',
            rotation: -90,
            clamp: true,
            align: 'top',
            offset: -2,
            formatter: function(value, context, values) {
              if (value > 0) {
                //  value = value.toString();
                //  value = value.split(/(?=(?:...)*$)/);
                //  value = value.join(',');
                return value;
              } else {
                value = "";
                return value

              }
            },
          },
          data: [<%= escapeDPU %>],

        },
        // {
        //   type: 'line',
        //   label: 'DPU Target',
        //   borderColor: 'red',
        //   pointRadius: 0,
        //   borderDash: [10, 5],
        //   //  segment: {
        //   //         borderDash: ctx => ((ctx.chart.data.datasets[ctx.datasetIndex].data.length - 1) === ctx.p1DataIndex ? [2, 2] : undefined)
        //   //     },
        //   backgroundColor: 'transparent',
        //   yAxisID: 'bar-y-axis',
        //   datalabels: {
        //     // display labels for this specific dataset
        //     display: true,
        //     color: 'white',
        //     rotation: -90,
        //     // anchor: 'start',
        //     align: 'top',
        //     // offset: -8,
        //     formatter: function(value, context) {
        //       if (context.dataIndex === context.dataset.data.length - 1) {
        //         return value.y;
        //       }
        //       return "";
        //     }
        //   },
        //   data: [<%= escapeTarget %>],

        // },


      ],
    }

    let barChartData4 = {
      labels: <%- JSON.stringify(dpuMonths) %>,

      datasets: [{
          type: 'line',
          label: 'DPU',
          borderColor: 'orange',
          backgroundColor: 'transparent',
          pointRadius: 0,
          lineTension: 0,
          //  backgroundColor : 'orange',
          yAxisID: 'bar-y-axis1',
          datalabels: {
            // display labels for this specific dataset
            display: true,
            color: 'white',
            rotation: -90,
            clamp: true,
            align: 'bottom',
            //  offset: -2,
            formatter: function(value, context, values) {
              if (value > 0) {
                //  value = value.toString();
                //  value = value.split(/(?=(?:...)*$)/);
                //  value = value.join(',');
                return value;
              } else {
                value = "";
                return value

              }
            },
          },
          data: [<%= internalDpuData %>],
        },
        {
          type: 'line',
          label: 'DPU Target',
          borderColor: 'red',
          pointRadius: 0,
          borderDash: [10, 5],
          //  segment: {
          //         borderDash: ctx => ((ctx.chart.data.datasets[ctx.datasetIndex].data.length - 1) === ctx.p1DataIndex ? [2, 2] : undefined)
          //     },
          backgroundColor: 'transparent',
          yAxisID: 'bar-y-axis1',
          datalabels: {

            // display labels for this specific dataset
            display: true,
            color: 'white',
            //  rotation: -90,
            anchor: 'start',
            align: 'top',
            //  offset: 8,
            formatter: function(value, context) {
              if (context.dataIndex === context.dataset.data.length - 1) {
                return value
              }
              return ""
            }
          },
          data: [<%= internalDpuTarget %>],
        },

      ],
    }

    let barChartData5 = {
      labels: <%- JSON.stringify(dpuMonths) %>,

      datasets: [{
          type: 'line',
          label: 'RFT',
          borderColor: 'orange',
          backgroundColor: 'transparent',
          pointRadius: 0,
          lineTension: 0,
          //  backgroundColor : 'orange',
          yAxisID: 'bar-y-axis1',
          datalabels: {
            // display labels for this specific dataset
            display: true,
            color: 'white',
            rotation: -90,
            clamp: true,
            align: 'top',
            //  offset: -2,
            formatter: function(value, context, values) {
              if (value > 0) {
                //  value = value.toString();
                //  value = value.split(/(?=(?:...)*$)/);
                //  value = value.join(',');
                return value + '%'
              } else {
                value = "";
                return value

              }
            },
          },
          data: [<%= internalCfcData %>],

        },
        {
          type: 'line',
          label: 'RFT Target',
          borderColor: 'red',
          pointRadius: 0,
          borderDash: [10, 5],
          //  segment: {
          //         borderDash: ctx => ((ctx.chart.data.datasets[ctx.datasetIndex].data.length - 1) === ctx.p1DataIndex ? [2, 2] : undefined)
          //     },
          backgroundColor: 'transparent',
          yAxisID: 'bar-y-axis1',
          datalabels: {
            // display labels for this specific dataset
            display: true,
            color: 'white',
            //  rotation: -90,
            anchor: 'start',
            align: 'top',
            //  offset: 8,
            formatter: function(value, context) {
              if (context.dataIndex === context.dataset.data.length - 1) {
                return value + '%';
              }
              return "";
            }
          },
          data: [<%= internalCfcTarget %>],

        },


      ],
    }

    new Chart(document.getElementById("bar-chart"), {
    type: 'bar',
    data: {
      labels: <%- JSON.stringify(escapeMonths) %>,
      datasets: [
        {
          label: "Major Escapes",
          backgroundColor:'orange',
          data: [<%= escapeData %>],
          datalabels: {
            // display labels for this specific dataset
            display: true,
            color: 'white',
            // rotation: -90,
            clamp: true,
            align: 'top',
            offset: -2,
             anchor: 'end',
            formatter: function(value, context, values) {
              if (value > 0) {
                //  value = value.toString();
                //  value = value.split(/(?=(?:...)*$)/);
                //  value = value.join(',');
                return value;
              } else {
                value = "";
                return value

              }
            },
          },
        }
      ]
    },
    options: {
      maintainAspectRatio: false,
      responsive: true,
      legend: { display: false },
      
      scales: {
        xAxes: [{
          stacked: true,
          barPercentage: 0.8,
          ticks: {
            display: true,
            beginAtZero: true,
            fontSize: 9,
            fontColor: '#fff',
            autoSkip: false,
            maxRotation: 90,
            minRotation: 90,
          },
        }],
        yAxes: [{
            id: 'bar-y-axis',
            position: 'left',
            //  stacked : true,
            display: false,
            ticks: {
              beginAtZero: true,
              min: 0,
              max: 85,
            },
          }

        ],
      },
    }
});

    // // t0 dpu & rft
    // const ctx = document.getElementById("chart1")
    // // options.scales.yAxes[0].ticks.max = <%= t0DPUMax %>
    // //   options.scales.yAxes[0].ticks.stepSize = 600
    // //   options.scales.xAxes[0].scaleLabel.labelString = 'Build Month'

    // const myChart1 = new Chart(ctx, {
    //   //  type: 'bar',
    //   data: barChartData1,
    //   options: options
    // })

    // doa dpu & rft
    const ctx2 = document.getElementById("chart2")
    options.scales.yAxes[0].ticks.max = <%= doaDPUMax %>
    //   options.scales.yAxes[0].ticks.stepSize = 600
    //   options.scales.xAxes[0].scaleLabel.labelString = 'Build Month'

    const myChart2 = new Chart(ctx2, {
      type: 'bar',
      data: barChartData2,
      options: options
    })

    // major escape dpu
    const ctx3 = document.getElementById("chart3")
    escapeOptions.scales.yAxes[0].ticks.max = <%= escapeDPUMax %>
    //   options.scales.yAxes[0].ticks.stepSize = 600
    //   options.scales.xAxes[0].scaleLabel.labelString = 'Build Month'

    const myChart3 = new Chart(ctx3, {
      type: 'bar',
      data: barChartData3,
      options: escapeOptions
    })

    // Total DPU
    const ctx4 = document.getElementById("chart4")
    //    options.scales.yAxes[0].ticks.max = <%= escapeDPUMax %>
    //   options.scales.yAxes[0].ticks.stepSize = 600
    //   options.scales.xAxes[0].scaleLabel.labelString = 'Build Month'

    const myChart4 = new Chart(ctx4, {
      type: 'bar',
      data: barChartData4,
      options: dpuOptions
    })

    // CFC RFT
    const ctx5 = document.getElementById("chart5")
    //    options.scales.yAxes[0].ticks.max = <%= escapeDPUMax %>
    //   options.scales.yAxes[0].ticks.stepSize = 600
    //   options.scales.xAxes[0].scaleLabel.labelString = 'Build Month'

    const myChart5 = new Chart(ctx5, {
      type: 'bar',
      data: barChartData5,
      options: cfcOptions
    })
  </script>




</body>

</html>