<% layout('layouts/boilerplate')%>




<div class="vetting-body">
  <header id="vettingJumbotron">

    <h1 id="vetting-title" style="margin-top: -1rem;"><%= numb %> VETTED CLAIMS</h1>


    <% if (numb > 0) {  %>
    <form class="form-inline float-right" style="margin-left: 5px;" action="/claims/downloadheatmap/<%= division %>/<%= area %>/<%= type %>" method="GET">
      <div class="form-group">
        <label for="search"></label>
        <button class="btn btn-md btn btn-info" style="margin-left: 5px;"><i class="fas fa-download"></i></i> Download All Claim File</button>
      </div>
    </form>
    <% } %>




  </header>





  <table class="table table-hover table-dark" style="font-size: 15px; height: 72vh;">
    <thead>
      <tr class="d-flex">
        <th style="width: 100px;">T Period</th>
        <th style="width: 140px;">Claim Number</th>
        <th style="width: 140px;">Serial Number</th>
        <th style="width: 200px;">Dealer</th>
        <th style="width: 120px;">Model</th>
        <th style="width: 140px;">Build Date</th>
        <th style="width: 300px;">Failed Part</th>
        <th style="width: 400px;">Narrative</th>
        <th style="width: 200px;">Vetted by</th>
        <th style="width: 200px;">Decision</th>

      </tr>
    </thead>
    <tbody>
      <% for (let claim of claims) { %>
      <tr class="d-flex">
        <td style="height: 76px; width: 100px;"><%= claim.tPeriod %></td>
        <td style="width: 140px;"><a href="/claims/<%=claim._id%>/editagain"><%= claim.claimNumber %></a></td>
        <td style="width: 140px;"><%= claim.name %></td>
        <td style="width: 200px;"><%= claim.dealer %></td>
        <td style="width: 120px;"> <%= claim.model %></td>
        <td style="width: 140px;"> <%= claim.buildDate %></td>
        <td style="width: 300px;"> <%= claim.failedPart %></td>
        <td style="width: 400px;"> <%= claim.description.substring(0, 100) %>...</td>
        <% if ( claim.vettedAt != null ) { %>
        <td style="width: 200px;"> <em><%= claim.vettedBy %> <br> <%= moment(claim.vettedAt).format("DD/MM/YYYY - HH:mm") %></em></td>
        <% } else { %>
        <td style="width: 200px;">Un Vetted </em></td>
        <% }; %>
        <td style="width: 200px;"><a href="/claims/<%=claim._id%>/edit"><%= claim.outcome%></a></td>
      </tr>
      <% } %>
    </tbody>
  </table>


</div>